services:
  opengist:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.opengist.rule=Host(`opengist.xaax.dev`)"
      - "traefik.http.routers.opengist.entrypoints=websecure"
      - "traefik.http.routers.opengist.tls=true"
      - "traefik.http.services.opengist.loadbalancer.server.port=6157"
#     - "traefik.http.routers.opengist.middlewares=waf@docker"
      - "traefik.docker.network=traefik_web"
    networks:
      - traefik_web

networks:
  traefik_web:
    external: true
