alias nsps='ps -eo pid,ppid,pgid,sess,stat,tty,netns,mntns,pidns,ipcns,utsns,cmd'
alias pps='ps -eo pid,ppid,pgid,sess,stat,tty,tpgid,uname,%cpu,%mem,cmd'
alias nps='ps -N --ppid 2 -o pid,ppid,pgid,sess,stat,tty,tpgid,uname,%cpu,%mem,cmd'
alias vg='nvim-qt 2>/dev/null'
alias ls='ls -F -h --color=always --time-style=long-iso'
alias l='ls -l -a'
alias ll='ls  -l'
alias lss='ls -AFlSrh --color=auto --group-directories-first'
alias ltr='ls -AFltrh --color=auto'
alias lt='ls -AFlth --color=auto'
alias g='grep -i --color=auto'
alias grep='grep -i --color=auto'
alias cp='cp -i -v'
alias mv='mv -i -v'
alias pg="pcre2grep -i"
alias cpu='htop -s PERCENT_CPU'
alias mem='htop -s PERCENT_MEM'
alias path='echo -e ${PATH//:/\\n}'
alias dmesg='dmesg --color=always'
alias now='date +"%T"'
alias cd..='cd ..'
alias h='history'
alias j='jobs -l'
alias mnt='mount | column -t'
alias bc='bc -l'
alias mkdir='mkdir -pv'
alias wget='wget -c'
alias acurl='curl -s -A "Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:59.0) Gecko/20100101 Firefox/59.0"'
alias ipt='sudo /sbin/iptables'
alias iptl='sudo /sbin/iptables -nvL --line-numbers'
alias iptln='sudo /sbin/iptables -L INPUT -n -v --line-numbers'
alias iptlo='sudo /sbin/iptables -L OUTPUT -n -v --line-numbers'
alias iptlf='sudo /sbin/iptables -L FORWARD -n -v --line-numbers'
alias rm='rm -v -I --preserve-root'
alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'
alias df='df -H'
alias du='du -ch'
alias meminfo='free -m -l -t'
alias hh='history -a && history -n'
alias plsns='lsns -p $$'
alias j5m='journalctl --since "5 min ago"'
alias j1h='journalctl --since "1 hour ago"'
alias j5h='journalctl --since "5 hour ago"'
alias jd='journalctl --since "1 day ago"'
alias jb='journalctl -b'
alias ju='journalctl -u'
alias je='journalctl -p "emerg..err"'
alias jw='journalctl -p "emerg..warning"'
alias jn='journalctl -p "emerg..notice"'
alias jbe='journalctl -p "emerg..err" -b'
alias jbw='journalctl -p "emerg..warning" -b'
alias jbn='journalctl -p "emerg..notice" -b'
alias jlb='journalctl --list-boots'
alias xlsblk='lsblk -o name,mountpoint,fstype,size,fsused,pttype,model,vendor,serial,uuid,partuuid'
