# This line carries over site-wide readline configuration to the user configuration. Usually /etc/inputrc includes some goodies.
$include /etc/inputrc

set bell-style none

"\C-p":history-search-backward
"\C-n":history-search-forward
# Cycle through ambiguous completions instead of list
# "\C-i": menu-complete

set editing-mode vi
$if mode=vi
    set keymap vi-command
    "G": end-of-history
    set keymap vi-insert
    "jj": vi-movement-mode
    "\C-o": operate-and-get-next
    set show-mode-in-prompt on
    $if term=linux
	set vi-ins-mode-string \1\e[?0c\2
	set vi-cmd-mode-string \1\e[?8c\2
    $else
	set vi-ins-mode-string \1\e[6 q\2
	set vi-cmd-mode-string \1\e[2 q\2
    $endif
$endif

# list completions immediately instead of bell
set show-all-if-ambiguous on
# but no partial
set show-all-if-unmodified on
set completion-ignore-case on

# Bind Tab to menu-complete (cycles forward)
"\t": menu-complete
# Optionally bind Shift-Tab to menu-complete-backward (cycles backward)
"\e[Z": menu-complete-backward

# Color files by types
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Complete dir names with a slash append
set mark-directories on
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On

# Experimental
#
# "\C-xq": "\eb\"\ef\""
