# aws cloudformation create-stack \
# --stack-name serviceLaunchTemplate \
# --template-body file://./service_LaunchTemplate-specialize.yaml \
# --parameters ParameterKey="pServiceVpcId",ParameterValue="vpc-0f7cf046a5008ed4e" \
# ParameterKey="pSingleIp",ParameterValue="108.44.37.87/32" \
# --capabilities CAPABILITY_NAMED_IAM \
# --region us-east-1 \
# --profile lab3

AWSTemplateFormatVersion: "2010-09-09"
Description: "Creates a Launch Template with included resources - role CREATED SSM"

Parameters:
  pLatestAL2023ArmAMI:
    Type: AWS::SSM::Parameter::Value<AWS::EC2::Image::Id>
    Default: /aws/service/ami-amazon-linux-latest/al2023-ami-kernel-default-arm64

  pServiceVpcId: # For ec2 security group
    Type: String

  pServiceRouteTableId:
    Type: String

  pServiceVpcCIDR: # for ec2 security group (sources IP)
    Type: String
    Default: 172.99.0.0/20

  pSingleIp:
    Type: String

  pSshKeyPair:
    Description:
      Name of an existing EC2 KeyPair, Service instances will launch with
      this key pair
    Type: AWS::EC2::KeyPair::KeyName
    Default: ServiceSshKey

Resources:
  rVPCGatewayS3Endpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.s3"
      VpcId: !Ref pServiceVpcId
      RouteTableIds:
        - !Ref pServiceRouteTableId

  rSsmEc2Role:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "ssm-role-${AWS::StackName}"
      Path: "/"
      ManagedPolicyArns:
        - "arn:aws:iam::aws:policy/service-role/AmazonEC2RoleforSSM"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - ec2.amazonaws.com
            Action:
              - sts:AssumeRole

  rSsmEc2InstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      Roles:
        - !Ref rSsmEc2Role

  rServiceEc2SpecializedLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: "ServiceEc2SpecializedLaunchTemplate"
      LaunchTemplateData:
        InstanceType: "t4g.micro" # Default instance type
        IamInstanceProfile:
          Name: !Ref rSsmEc2InstanceProfile
        ImageId: !Ref pLatestAL2023ArmAMI
        KeyName: !Ref pSshKeyPair
        SecurityGroupIds:
          - !Ref rServiceEC2SecuritySpecializedGroup
        UserData:
          Fn::Base64: |
            #!/bin/bash
            # Install baseline apps
            yum -y update
            yum install -y wireshark-cli
            yum install -y tmux
            yum install -y jq
            yum install -y cowsay
            yum install -y git
            yum install -y python3
            yum install -y python3-pip
            yum install -y nmap
            yum install -y nginx
            #
            # Add Users
            #
            useradd -m -G wheel,wireshark -U wjs04
            useradd -m -G wheel,wireshark -U mlv03
            #
            # mlv03 ssh
            # 
            mkdir -p /home/mlv03/.ssh
            echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDnCYjxPsbqkuOm15feVcsI28EwCbb+MGqphAvMO6fmGkkRCUu28DzVhDhwv9+nI15e+CIkZzoom4dBs4R/TBo3ZsaIudNwTT8/AOxRg5/hgVD6i74Ko9p9ZgnnJWW8pbe6SLc9yaq3ywV2utkFeXmJQoSJrcjZ14JCNdp5F2acoHlVMfHfy3SteaFOqjlXhbRwV93rME5bkO4yQ/NsO8SA7HYg5kfL1nGzQQCPbwzCnSfBr8Z3lX0sviC9smY0y6HHHP4WkTZHVHS/mLmJIZ0OKgcUMucjz43BvCV5G5nWZqWkbsui0oWI6FfPfrzWlunTXudlDYfUO27HZqKmUjvD mikevarney@mike-varneys-mac-pro.local" >> /home/mlv03/.ssh/authorized_keys
            chmod 700 /home/mlv03/.ssh
            chmod 600 /home/mlv03/.ssh/authorized_keys
            chown -R mlv03:mlv03 /home/mlv03
            #
            # wjs04 ssh
            #
            mkdir -p /home/wjs04/.ssh
            echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDdlYdAWgMiZSLquruc/zbj2PvXEk0CUTBJJsLGTMuhQ83pZUTEmD/ZU6k2LlfQeYoDhGZOAQKtSoUuclMy9BcGYN2dHnlB59ZtXZGjmdjAsTKlHWfqg2fCdke6Ofzs5mgflMeI1YR1UALHXjBhQI10PCZq3/sMKD49yeH3mZj60umwitz/zqqQkxDrlfTJlw494oD8gfXJLmvacoU78T3eP7J7e3A2qR1QXLlHZCsFCcNBUyYkXuddvkNWxV4Z70VPq+Wi5d/KIW7JVqE55oMQiXwq4zgtfPDKquCuUB0kMk3VidM9nQqcPaQT8Zuqgzr3jML9re5Ypnp5OOQYiYJv una@ubuntu" >> /home/wjs04/.ssh/authorized_keys
            chmod 700 /home/wjs04/.ssh
            chmod 600 /home/wjs04/.ssh/authorized_keys
            chown -R wjs04:wjs04 /home/wjs04


            # Add the user to the wireshark group
            usermod -a -G wireshark una

            # neovim
            mkdir ~/temp ~/gitdir
            sudo yum -y install ninja-build cmake gcc make unzip gettext curl git --allowerasing
            cd ~/gitdir
            git clone https://github.com/neovim/neovim.git
            cd neovim
            make CMAKE_BUILD_TYPE=Release
            sudo make install

            cat > /home/wjs04/.inputrc <<EOF
            set bell-style none

            "\C-p":history-search-backward
            "\C-n":history-search-forward
            # Cycle through ambiguous completions instead of list
            # "\C-i": menu-complete

            set editing-mode vi
            \$if mode=vi
                set keymap vi-command
                "G": end-of-history
                set keymap vi-insert
                "jj": vi-movement-mode
                "\C-o": operate-and-get-next
                set show-mode-in-prompt on
                \$if term=linux
                    set vi-ins-mode-string \1\e[?0c\2
                    set vi-cmd-mode-string \1\e[?8c\2
                \$else
                    set vi-ins-mode-string \1\e[6 q\2
                    set vi-cmd-mode-string \1\e[2 q\2
                \$endif
            \$endif

            # list completions immediately instead of bell
            set show-all-if-ambiguous on
            # but no partial
            set show-all-if-unmodified on
            set completion-ignore-case on

            # Bind Tab to menu-complete (cycles forward)
            "\t": menu-complete
            # Optionally bind Shift-Tab to menu-complete-backward (cycles backward)
            "\e[Z": menu-complete-backward

            # Color files by types
            set colored-stats On
            # Append char to indicate type
            set visible-stats On
            # Mark symlinked directories
            set mark-symlinked-directories On
            # Complete dir names with a slash append
            set mark-directories on
            # Color the common prefix
            set colored-completion-prefix On
            # Color the common prefix in menu-complete
            set menu-complete-display-prefix On
            EOF

            cat > /home/wjs04/.bashrc <<EOF
            set -o noclobber
            PROMPT_DIRTRIM=10
            shopt -s globstar 2>/dev/null
            shopt -s checkwinsize
            shopt -s nocaseglob
            shopt -s histverify
            shopt -s histappend
            shopt -s cmdhist
            shopt -s autocd 2>/dev/null
            shopt -s dirspell 2>/dev/null
            shopt -s cdspell 2>/dev/null
            shopt -s cdable_vars
            shopt -s lithist
            alias nsps='ps -eo pid,ppid,pgid,sess,stat,tty,pidns,utsns,ipcns,mntns,netns,cmd'
            alias pps='ps -eo pid,ppid,pgid,sess,stat,tty,tpgid,uname,%cpu,%mem,cmd'
            alias nps='ps -N --ppid 2 -o pid,ppid,pgid,sess,stat,tty,tpgid,uname,%cpu,%mem,cmd'
            alias chown='chown --preserve-root'
            alias iptables='iptables -v'
            alias wget='wget -c'
            alias bc='bc -l'
            alias dmesg='dmesg --color=always'
            alias chmod='chmod --preserve-root'
            alias chgrp='chgrp --preserve-root'
            alias cp='cp -i -v'
            alias grep='grep -i --color=auto'
            alias mv='mv -i -v'
            alias rm='rm -v -I --preserve-root'
            alias df='df -H'
            alias du='du -ch'
            alias ls='ls -F -h --color=always --time-style=long-iso'
            alias ag='ag --hidden --ignore gitdir'
            alias l='ls -l -aF'
            alias ll='ls -AFlSrh --color=auto --group-directories-first'
            alias ltr='ls -AFltrh --color=auto'
            alias lt='ls -AFlth --color=auto'
            alias g='grep'
            alias pg="pcre2grep -i"
            alias path='echo -e ${PATH//:/\\n}'
            alias now='date +"%T"'
            alias j='jobs -l'
            EOF

            # Add additonal dns search

            mkdir -p /etc/systemd/resolved.conf.d
            cat <<EOF > /etc/systemd/resolved.conf.d/custom-dns.conf
            [Resolve]
            Domains=example.net
            EOF

            systemctl restart systemd-resolved

            mkdir /service_special

  rServiceEc2SecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Dev Ec2 Security group
      VpcId: !Ref pServiceVpcId
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: !Ref pServiceVpcCIDR
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: !Ref pServiceVpcCIDR
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          CidrIp: !Ref pServiceVpcCIDR
        - IpProtocol: icmp
          FromPort: -1
          ToPort: -1
      Tags:
        - Key: Application
          Value: !Ref AWS::StackId
        - Key: Name
          Value: ServiceEc2SecurityGroup

  rServiceEC2SecuritySpecializedGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Allow ICMP, TCP, and UDP traffic for specific IP
      SecurityGroupIngress:
        - IpProtocol: icmp
          CidrIp: !Ref pSingleIp
          FromPort: -1
          ToPort: -1
        - IpProtocol: tcp
          CidrIp: !Ref pSingleIp
          FromPort: 22
          ToPort: 22
        - IpProtocol: tcp
          CidrIp: !Ref pSingleIp
          FromPort: 80
          ToPort: 80
        - IpProtocol: tcp
          CidrIp: !Ref pSingleIp
          FromPort: 443
          ToPort: 443
        - IpProtocol: udp
          CidrIp: !Ref pSingleIp
          FromPort: 22
          ToPort: 22
        - IpProtocol: udp
          CidrIp: !Ref pSingleIp
          FromPort: 80
          ToPort: 80
        - IpProtocol: udp
          CidrIp: !Ref pSingleIp
          FromPort: 443
          ToPort: 443
      VpcId: !Ref pServiceVpcId
      Tags:
        - Key: Application
          Value: !Ref AWS::StackId
        - Key: Name
          Value: ServiceEc2SecurityGroup
Outputs:
  SecurityGroupId:
    Description: Security Group ID
    Value: !Ref rServiceEC2SecuritySpecializedGroup
